* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
}


.main{
    height: 100%;
    width: 100%;
    // background: #000;
    padding: 20px ;
    // margin-top: 20px;


    .page1{
        height: 100%;
        width: 100%;
        // background: #378daf;
        position: relative;

        
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            background-size: cover;
            
            
        }
        .navbar{
            height: 10%;
            width: 100%;
            //  background: #8b4f4f;
            position: absolute;
            top: 0%;
            left: 0%;

            .left{
                display: none;
            }
            
            .menu-icon{
                position: absolute;
                top: 0%;
                left: 90%;
                font-size: 1.5em;
                color: white;
            }
            h2{
                color: white;
            }
            
        }

        .box1{
            height: 30%;
            width: 70%;
            //  background-color: coral;
            position: absolute;
            top: 50%;
            left: 15%;
           

        h1{
                    align-content: center;
                justify-content: center;
                display: flex;
                 color: white;

            }

            h3{
                 align-content: center;
                justify-content: center;
                display: flex;
                 color: white;
                text-transform: capitalize;

                


            }
           
           .line{
            height: 5px;
             width: 30px;
              background:white;
             position: absolute;
             left: 43%;
             
           }
           

        }
           
        }
      
    .page2{
        // height: 100%;
        width: 100%;
        // background: #000;

        .top{
            height: 40%;
            width: 100%;
            background-color:whitesmoke;
            display: flex;
            align-items: center;
           justify-content: center;
            flex-direction: column;
            gap: 10px;
           

            .line2{
                height: 5px;
                width: 60px;
                background-color: rgb(8, 8, 8);
            }
        }
    
        .cards{
            //  height: 80%;
            width: 100%;
            // background-color: chocolate;
     
       .card{
                height: 70vh;
                width: 100%;
                background-color: whitesmoke;
                padding: 10px;

                .top{
                    height: 50%;
                    width: 100%;
                    // background: #000;
                    background-size: cover;
                    box-shadow: 10px 10px 30px rgba(46, 46, 110, 0.301);

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }

                .down{
                    height: 50%;
                    width: 100%;
                    // background-color: rgb(153, 57, 76);
                    position: relative;
                     box-shadow: 10px 10px 30px rgb(46, 46, 58) ;
                    
                   


                    .line3{
                        height: 7px;
                        width: 60px;
                    //    background-color: #000;
                       position: absolute;
                       top: 40%;
                       left: 40%;
                    }

                     h3{
                        display: flex;
                        position: absolute;
                       top: 50%;
                       left: 8%;
                       text-align: center;
                       
                    
                   

                    }

                   

                    

                    
                }
            }

           
         

           

          
        }
    }

    .page3{
        height: 100%;
        width: 100%;
        // background: #a55454;
        // display: flex;
        // align-content: center;
        // justify-content: center;
        // flex-direction: column;
        

        .box1{
            height: 40%;
            width: 100%;
            // background: #000;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .box2{
            //  height: 60%;
            width: 100%;
             background-color:whitesmoke;
            position: relative;

            h1{
                display: flex;
                align-content: center;
                justify-content: center;
                text-transform: uppercase;
                margin-bottom: 18px;

            }
             .line4{
                height: 5px;
                width: 60px;
                background-color: #000;
                position: absolute;
                top: 15%;
                left: 40%;
                margin-bottom:  0 auto 38px;


             }

             p{
                font-size: 1em;
              // height: 1.8;
              text-align: center;
              max-width: 700px;
             }

             


        }

        // .box3{
        //     height: 100%;
        //     width: 100%;
        //     background: #000;
        // }

    } 

       .page4{
        height: 100%;
        width: 100%;
        // background: #000;

        .pack1{
            height: 50%;
            width: 100%;
            background-color: whitesmoke;
            // padding: 10px;
            // margin: 10px;
            position: relative;


            h1{
                display: flex;
                align-content: center;
                justify-content: center;
                text-transform: uppercase;
                font-weight: 900;

            }

            h2{
                 display: flex;
                text-transform: capitalize;
                justify-content: center;
                align-content: center;
                // font-size: 1.5em;
            }

            .email-box{
                height: 16%;
                width: 100%;
                // background-color:rgb(224, 125, 125);

            
                }
            }

            .submit-box{
                height: 15%;
                width: 40%;
                // background-color: rgb(231, 17, 17);
                position: absolute;
                top: 70%;
                left: 30%;


                .submit{
                    display: flex;
                    position:absolute;
                    top: 5%;
                    left: 50%;
                }
            }

            h1, h2, .email-box, .submit-box{
                margin-bottom: 15px;
            }


             .pack2{
            height: 50%;
            width: 100%;
            // background-color: aqua;
            position: relative;

            .new{
                height: 100%;
                width: 100%;

                 .p1{
                height: 15%;
                width: 30%;
                // background-color: #a55454;
                position: absolute;
                top: 10%;
                left: 38%;
                // display: inline-block;
                // padding: 5px;
                //  border: 2px solid white;
                //  display: inline;

                  a{  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // text-transform: uppercase;
                    align-content: space-between;
            }
        }

            .p2{
                height: 15%;
                width: 30%;
                // background-color: #a55454;
                position: absolute;
                top: 30%;
                left: 38%;
                // display: inline-block;
                // padding: 5px;
                //  border: 2px solid white;
                //  display: inline;

                 
                  a{  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // text-transform: uppercase;
                    align-content: space-between;
            }
            }

             .p3{
                height: 15%;
                width: 30%;
                // background-color: #a55454;
                position: absolute;
                top: 50%;
                left: 38%;
                // display: inline-block;
                // padding: 5px;
                //  border: 2px solid white;
                //  display: inline;

                 
                  a{  
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // text-transform: uppercase;
                    align-content: space-between;
            }
            }

          .p4{
            height: 20%;
             width: 100%;
            // background-color: #a55454;
            display: flex;
            position: absolute;
            top: 75%;
            left: 0%;
            gap: 20px;
            

            .p{
                flex: 1;
                padding: 20px;
                // background-color: rgb(241, 231, 231);
                position: relative;

                i{
                    font-size: 25x;
                  
                }
            }
          }  
            }

 
        }
     }

       

        
    }
    
    .page1, .page2, .page3, .page4{
        margin-top: 40px;
    }

    

    

     

        


    
                   

    @media (min-width:1084px) {

        .main{
            .page1{
                .navbar{
                    // position: relative;
                    h2{
                 font-size: 2.5em; 
                                

                    }
                    .menu-icon{
                        display: none;
                    }
                    .left{
                        height: 100%;
                        width: 40%;
                        // background: #1f5aa8;
                        position: absolute;
                        top: 0%;
                        left: 60%;
                        display: flex;
                        gap: 10px;

                        .l{
                            flex: 1;
                            padding: 10px;
                            // background: #a0ca06;

                            a{  
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                text-transform: uppercase;
                                align-content: space-between;
                                
                            }

                            .sub{
                                height: fit-content;
                                // background: #e03b3b;
                                display: inline-block;
                                padding: 5px;
                                border: 2px solid white;
                                
                                
                               

                            }
                            
                            }
                        }

                    }
                   
                    .box1{
                        

                        h1{
                            
                            font-size: 5em;
                            // font-weight: bold;
                            font-weight: bolder;
                            // align-content: space-around;
                        }
                        h3{
                            font-size: 1.5em;
                            font-weight: lighter;
                            text-transform: uppercase;
                            // align-content: space-around;
                        }
                        .line{
                            position: absolute;
                            left: 45%;
                            width: 60px;
                            // align-content: space-around;
                        }

                    }
                    }

             .page2{
        // height: 100%;
        width: 100%;
        // background: #000;

        .top{
            height: 20%;
            width: 100%;
            // background-color: aquamarine;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 5px;

            h1{
                text-transform: uppercase;
            }

            .line2{
                height: 5px;
                width: 60px;
                background-color: aliceblue;
            }
        }
    
        .cards{
            //  height: 80%;
            width: 100%;
            // background-color: chocolate;
            display: flex;
            flex-direction: row;
            padding: 60px;
            //  box-shadow: 10px 10px 10px rgb(46, 46, 48) ;
     
       .card{
                height: 70vh;
                width: 100%;
                background-color: cornsilk;
                padding: 40px;
                box-shadow: 10px 10px 10px rgb(66, 66, 82) ;

                .top{
                    height: 50%;
                    width: 100%;
                    // background: #000;
                    background-size: cover;
                    box-shadow: 10px 10px 20px rgb(89, 89, 97) ;

                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;

                    }
                }

                .down{
                    height: 50%;
                    width: 100%;
                    // background-color: rgb(235, 223, 225);
                    display: flex;
                 position: relative;
                 box-shadow: 10px 10px 30px rgb(46, 46, 58) ;
                    
                   


                    .line3{
                        height: 7px;
                        width: 60px;
                    //    background-color: #000;
                      position: absolute;
                       top: 40%;
                       left: 40%;
                    }

                     h3{
                        display: flex; 
                        position: absolute;
                         top: 60%;
                         left: 5%;
                       
                    
                   

                    }

                   

                    

                    
                }
            }

           
         

           

          
        }
    }
              .page3{
        height: 100%;
        width: 100%;
        // background: #a55454;  
        position: relative; 

        .box1{
            height: 100%;
            width: 50%;
            // background: #000;

            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .box2{
             height: 100%;
            width: 50%;
            // background-color: aqua;
            // position: relative;
            position: absolute;
            top:0%;
            left: 50%;
            //  position: relative;
            //  flex-direction: row;
            

            h1{
                font-size: 3em;
                display: flex;
                align-content: center;
                justify-content: center;
                text-transform: uppercase;
                margin-bottom: 18px;
               

            }
             .line4{
                height: 5px;
                width: 100px;
                background-color: #000;
                position: absolute;
                top: 15%;
                left: 43%;
                margin-bottom:  0 auto 38px;


             }

             p{
             font-size: 1.8em;
               height: 1.8;
              text-align: center;
              max-width: 700px;
              position: absolute;
              top: 20%;
              left: 0%;
             }

             


        }

        
    } 
    
       
     }

    
       }  
                
  

      


