* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.main {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.main .page1 {
  height: 100%;
  width: 100%;
  position: relative;
}
.main .page1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
}
.main .page1 .navbar {
  height: 10%;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}
.main .page1 .navbar .left {
  display: none;
}
.main .page1 .navbar .menu-icon {
  position: absolute;
  top: 0%;
  left: 90%;
  font-size: 1.5em;
  color: white;
}
.main .page1 .navbar h2 {
  color: white;
}
.main .page1 .box1 {
  height: 30%;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 15%;
}
.main .page1 .box1 h1 {
  align-content: center;
  justify-content: center;
  display: flex;
  color: white;
}
.main .page1 .box1 h3 {
  align-content: center;
  justify-content: center;
  display: flex;
  color: white;
  text-transform: capitalize;
}
.main .page1 .box1 .line {
  height: 5px;
  width: 30px;
  background: white;
  position: absolute;
  left: 43%;
}
.main .page2 {
  width: 100%;
}
.main .page2 .top {
  height: 40%;
  width: 100%;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.main .page2 .top .line2 {
  height: 5px;
  width: 60px;
  background-color: rgb(8, 8, 8);
}
.main .page2 .cards {
  width: 100%;
}
.main .page2 .cards .card {
  height: 70vh;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
}
.main .page2 .cards .card .top {
  height: 50%;
  width: 100%;
  background-size: cover;
  box-shadow: 10px 10px 30px rgba(46, 46, 110, 0.301);
}
.main .page2 .cards .card .top img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .page2 .cards .card .down {
  height: 50%;
  width: 100%;
  position: relative;
  box-shadow: 10px 10px 30px rgb(46, 46, 58);
}
.main .page2 .cards .card .down .line3 {
  height: 7px;
  width: 60px;
  position: absolute;
  top: 40%;
  left: 40%;
}
.main .page2 .cards .card .down h3 {
  display: flex;
  position: absolute;
  top: 50%;
  left: 8%;
  text-align: center;
}
.main .page3 {
  height: 100%;
  width: 100%;
}
.main .page3 .box1 {
  height: 40%;
  width: 100%;
}
.main .page3 .box1 img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .page3 .box2 {
  width: 100%;
  background-color: whitesmoke;
  position: relative;
}
.main .page3 .box2 h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.main .page3 .box2 .line4 {
  height: 5px;
  width: 60px;
  background-color: #000;
  position: absolute;
  top: 15%;
  left: 40%;
  margin-bottom: 0 auto 38px;
}
.main .page3 .box2 p {
  font-size: 1em;
  text-align: center;
  max-width: 700px;
}
.main .page4 {
  height: 100%;
  width: 100%;
}
.main .page4 .pack1 {
  height: 50%;
  width: 100%;
  background-color: whitesmoke;
  position: relative;
}
.main .page4 .pack1 h1 {
  display: flex;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 900;
}
.main .page4 .pack1 h2 {
  display: flex;
  text-transform: capitalize;
  justify-content: center;
  align-content: center;
}
.main .page4 .pack1 .email-box {
  height: 16%;
  width: 100%;
}
.main .page4 .submit-box {
  height: 15%;
  width: 40%;
  position: absolute;
  top: 70%;
  left: 30%;
}
.main .page4 .submit-box .submit {
  display: flex;
  position: absolute;
  top: 5%;
  left: 50%;
}
.main .page4 h1,
.main .page4 h2,
.main .page4 .email-box,
.main .page4 .submit-box {
  margin-bottom: 15px;
}
.main .page4 .pack2 {
  height: 50%;
  width: 100%;
  position: relative;
}
.main .page4 .pack2 .new {
  height: 100%;
  width: 100%;
}
.main .page4 .pack2 .new .p1 {
  height: 15%;
  width: 30%;
  position: absolute;
  top: 10%;
  left: 38%;
}
.main .page4 .pack2 .new .p1 a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.main .page4 .pack2 .new .p2 {
  height: 15%;
  width: 30%;
  position: absolute;
  top: 30%;
  left: 38%;
}
.main .page4 .pack2 .new .p2 a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.main .page4 .pack2 .new .p3 {
  height: 15%;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 38%;
}
.main .page4 .pack2 .new .p3 a {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}
.main .page4 .pack2 .new .p4 {
  height: 20%;
  width: 100%;
  display: flex;
  position: absolute;
  top: 75%;
  left: 0%;
  gap: 20px;
}
.main .page4 .pack2 .new .p4 .p {
  flex: 1;
  padding: 20px;
  position: relative;
}
.main .page4 .pack2 .new .p4 .p i {
  font-size: 25x;
}

.page1,
.page2,
.page3,
.page4 {
  margin-top: 40px;
}

@media (min-width: 1084px) {
  .main .page1 .navbar h2 {
    font-size: 2.5em;
  }
  .main .page1 .navbar .menu-icon {
    display: none;
  }
  .main .page1 .navbar .left {
    height: 100%;
    width: 40%;
    position: absolute;
    top: 0%;
    left: 60%;
    display: flex;
    gap: 10px;
  }
  .main .page1 .navbar .left .l {
    flex: 1;
    padding: 10px;
  }
  .main .page1 .navbar .left .l a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    align-content: space-between;
  }
  .main .page1 .navbar .left .l .sub {
    height: -moz-fit-content;
    height: fit-content;
    display: inline-block;
    padding: 5px;
    border: 2px solid white;
  }
  .main .page1 .box1 h1 {
    font-size: 5em;
    font-weight: bolder;
  }
  .main .page1 .box1 h3 {
    font-size: 1.5em;
    font-weight: lighter;
    text-transform: uppercase;
  }
  .main .page1 .box1 .line {
    position: absolute;
    left: 45%;
    width: 60px;
  }
  .main .page2 {
    width: 100%;
  }
  .main .page2 .top {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }
  .main .page2 .top h1 {
    text-transform: uppercase;
  }
  .main .page2 .top .line2 {
    height: 5px;
    width: 60px;
    background-color: aliceblue;
  }
  .main .page2 .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px;
  }
  .main .page2 .cards .card {
    height: 70vh;
    width: 100%;
    background-color: cornsilk;
    padding: 40px;
    box-shadow: 10px 10px 10px rgb(66, 66, 82);
  }
  .main .page2 .cards .card .top {
    height: 50%;
    width: 100%;
    background-size: cover;
    box-shadow: 10px 10px 20px rgb(89, 89, 97);
  }
  .main .page2 .cards .card .top img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .page2 .cards .card .down {
    height: 50%;
    width: 100%;
    display: flex;
    position: relative;
    box-shadow: 10px 10px 30px rgb(46, 46, 58);
  }
  .main .page2 .cards .card .down .line3 {
    height: 7px;
    width: 60px;
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .main .page2 .cards .card .down h3 {
    display: flex;
    position: absolute;
    top: 60%;
    left: 5%;
  }
  .main .page3 {
    height: 100%;
    width: 100%;
    position: relative;
  }
  .main .page3 .box1 {
    height: 100%;
    width: 50%;
  }
  .main .page3 .box1 img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .main .page3 .box2 {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 0%;
    left: 50%;
  }
  .main .page3 .box2 h1 {
    font-size: 3em;
    display: flex;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    margin-bottom: 18px;
  }
  .main .page3 .box2 .line4 {
    height: 5px;
    width: 100px;
    background-color: #000;
    position: absolute;
    top: 15%;
    left: 43%;
    margin-bottom: 0 auto 38px;
  }
  .main .page3 .box2 p {
    font-size: 1.8em;
    height: 1.8;
    text-align: center;
    max-width: 700px;
    position: absolute;
    top: 20%;
    left: 0%;
  }
}